.profiles-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
}

.profile {
  padding: 10px;
  text-align: center;
  margin: 10px;
  flex: 1 1 200px;
  max-width: 200px;
}

.profile-pic {
  object-fit: cover;
  border-radius: 50%;
  height: 8em;
  line-height: 8em;
  width: 8em
}

