.intro-box {
  display: flex;
  align-items: center;
  margin-right: 0;
}

.intro-images {
  width: 50%;
  padding: 2em;
}

.team-images {
  width: 80%;
  padding: 2em;
}

.team-bild {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}