.footer {
  background-color: #333;
  padding: 1em 20%;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  overflow-x: hidden;
}

.anschrift {
  justify-self: start; 
}

.kontakt {
  justify-self: end;
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
  }

  .anschrift, .kontakt {
    justify-self: start;
  }
}
