#root {
  width: 100%;
  overflow-x: hidden;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.white-box,
.grey-box,
.black-box {
  padding: 2em 8em 2em 18%;
}

.white-box {
  background-color: white;
}

.grey-box {
  background-color: #f0f0f0;
}

.black-box {
  background-color: #333;
  color: white;
}
