.chat-button {
    position: fixed;
    bottom: 10px;
    left: 270px;
    width: 48px;
    height: 48px;
    background-color: #448CEB;
    border-radius: 100%;
    border: none;
    z-index: 80;
    cursor: pointer;
    padding: 4px;
}
