.wrapper-prompts-container {
    width: 100%;
    flex-grow: 1;
    order: 1;
    z-index: 100;
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box; 
  }

  .chatWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: lightgray;
    border-radius: 6px;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box; 
  }

  .chatMessageActions button {
    background: transparent;
    padding: 2px;
    border: none;
  }

  