.chatyMessage {
    text-overflow: wrap;
    align-self: flex-start;
    border: 1px solid black;
    border-radius: 10px;
    border-color: transparent;
    word-wrap: break-word;
    white-space: pre-wrap;
} 


 .chatyMessage .errorMessage {
    background-color: #e37e8a;
    text-overflow: wrap;
    align-self: flex-start;
    border: 1px solid black;
    border-radius: 10px;
    border-color: transparent;
    padding: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

 .chatyMessage .chatMessage {
    background-color: #A4A4AC ;
    text-overflow: wrap;
    align-self: flex-start;
    border: 1px solid black;
    border-radius: 10px;
    border-color: transparent;
    padding: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
}


 .userMessage {
    background-color: #A4A4AC;
    text-overflow: wrap;
    align-self: flex-end;
    border: 1px solid black;
    border-radius: 10px;
    border-color: transparent;
    padding: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

