.chatMessageWrapper {
    background: transparent;
}

.chatMessageWrapper .chatyMessage {
    position: relative;
    align-self: flex-start;
    border: 1px solid black;
    border-radius: 10px;
    border-color: transparent;
    padding: 10px;
} 


.chatMessageWrapper .chatyMessage .errorMessage {
    background-color: #e37e8a;
}

.chatMessageWrapper .chatyMessage .chatMessage {
    background-color: #A4A4AC ;
}


.chatMessageWrapper .userMessage {
    background-color: #A4A4AC;
    text-overflow: wrap;
    align-self: flex-end;
    border: 1px solid black;
    border-radius: 10px;
    border-color: transparent;
    padding: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

