.chat-window {
  position: fixed;
  bottom: 10px;
  left: 270px;
  width: 30vw;
  height: 50vh;
  z-index: 100;
  flex-direction: column;
  background-color: #448CEB;
  border-radius: 10px;
  gap: 10px;
  overflow: auto;
  min-width: 250px;
  min-height: 250px;
  max-width: 80vw;
  max-height: 80vh;
}

.chat-window.open {
  display: flex;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 0px;
}

.chat-header h2 {
  user-select: none;
  color: #D9D9D9;
  margin: 0;
  flex-grow: 1;
}

.chat-header button {
  color: #D9D9D9;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}


.wrapper-prompts-container {
  width: 100%;
  flex-grow: 1;
  order: 1;
  z-index: 100;
  padding: 10px;
  overflow: hidden;
}

.wrapper-chat-input {
  width: 100%;
  height: 50px;
  order: 5;
  z-index: 101;
  padding: 10px;
  padding-top: 0px;
  margin-top: auto;
}

.chat-input-div {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: lightgray;
  border-radius: 15px;
}

.chat-input-div input {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

.chat-input-div button {
  align-self: center;
  border: none;
  order: 1;
  cursor: pointer;
  background-color: transparent;
}
