.chatInputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
}

.chatInput {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}

.chatInputSendButton {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
}

.chatInputSendButtonIcon {
  height: 3rem;
  width: 2rem;
}
