.chat-window-resize-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  color: white;
  border: none;
  cursor: nesw-resize;
}

.chat-window-resize-icon {
  height: 1.5rem;
  width: 1.5rem;
}
